/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	font-family: "Lora", serif;
  	font-optical-sizing: auto;
	font-size: 18px;
	line-height: 1.5;
	color: #242424;
	margin: 0 auto;
}

h1, 
h2,
h3 {
	font-family: "Playfair Display", serif;
  	font-optical-sizing: auto;
	line-height: 1.25;
	font-weight: bold;
}

h1 {
	font-size: 52px;
	max-width: 60%;
	margin: 0;
}

h2 {
	font-size: 36px;
	color: #3e606b;
	padding: 0;
	margin: 0;
}

h3 {
	font-size: 18px;
	color: #3e606b;
}

footer {
	background-color: #303339;
	margin: 0;
	color: white;
	text-align: center;
}

footer p {
	padding: 30px 0;
	margin: 0;
}

img {
	border-radius: 5px;
}

header, 
footer,
section {
    width: 100%;
}

section {
	padding: 80px 0;
}

.kontejner {
	display: flex;
	margin: 0 auto;
	max-width: 1100px;
}

/* Header*/
.zahlavi {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 170px;
	padding: 30px 0;
}

li {
	list-style-type: none;
}

ul {
	display: flex;
}

li a {
	font-family: "Playfair Display", serif;
  	font-optical-sizing: auto;
	font-weight: bold;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	align-items: start;
	color: #242424;
}

.menu {
	margin: 0;
	padding: 0;
}

a:hover {
	background-color: #f195b2;
	color: white;
	border-radius: 20px;
}


/* hero sekce*/
.heroSekce {
	background-image: url(images/cupcake.jpg);
	background-size: cover;
	background-position: center;
}
.hero {
	flex-direction: column;
	color: white;
	margin: 0 auto;
	max-width: 1100px;
}

.textHero {
	font-size: 24px;
	font-style: italic;
	width: 60%;
}

/*Vítejte */
.vitejteVlevo {
	margin-right: 30px;
}

.button:hover{
	background-color: #d2567d;
	color: white;
	border-radius: 30px;
}

.button {
	display: inline-block;
	background-color: #f195b2;
	color: white;
	border-radius: 30px;
	padding: 15px 40px;
	text-decoration: none;
	margin-top: 20px;
}

.vitejte {
	align-items: center;
}

/*Náš přístup k pečení */
.pristupVlevo {
	flex-basis: 50%;
}

.pristupVpravo {
	flex-basis: 50%;
	flex-grow: 0;
	margin-left: 30px;
}

.pristup {
	align-items: center;
}

/* Dnešní nabídka*/
.dnesniNabidka {
    background-color: #f0f0f0;
}

.produkty {
    display: flex;
	justify-content: space-between; 
    flex-wrap: nowrap; 
}

.produkt {
	flex-basis: 23%;
    background-color: white;
    border-radius: 5px;
    margin-right: 30px;
	text-align: center;
	box-sizing: border-box;
}

.buchta {
	margin: 0;
}

.produkt img {
    max-width: 100%; 
    height: auto;
}

.produkt p {
	padding: 20px;
	margin: 0;
}

.produkt h3 {
	padding: 20px 20px 0 20px;
	margin: 0;
}

.produktyNadpis {
	margin: 0 auto;
	max-width: 1100px;
}